*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
    font-size: 3vh;
}

/* header */

header{
    background-image: url(assets/pexels-ricardo-benitez-20174732.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
/* nav */

nav{
  
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    padding:5vh 60px 20px 0;
    gap: 3rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

.logo{
    width:10vw;
    margin: 2vh 0 20px 20px ;
}
#menu-bar{
    display:none;
}

/* side bar */

.side-bar{
    height: 100vh;
    width: 69vw;
    background-color: hsl(36, 100%, 99%);
    float: right;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    right: -100%;
    overflow-x: hidden;
    box-shadow: 0px 15px 10px hsl(233, 8%, 79%);
    flex-direction: column;
    color: back;
}
.side-bar li a{
    color: black;
}

.side-bar li{
        display: block;
        flex-direction: column;
        padding: 20px 0 0 20px;
       
    
}

#close-bar{
    padding: 20px 0 0 30vw;
    cursor: pointer;
    color: black;
}

@media screen and (max-width: 600px) {
    #menu-bar{
     display: block;
     cursor: pointer;
     color: white;
    }

    ul li{
        display: none;
    }
    .show{
        right: 0;
    }
    .logo{
        width: 15vh;
    }

      }

      .header-text{
    text-align: center;
    color: white;
    padding-top: 15vw;
  }
  
  .header-text h1{
    font-weight: 700;
    font-size: 7vh;
    padding: 20px;
  }

  .header-text p{
    font-weight: 400;
  }

  /* main */
  /* services */
   .service-section{
    justify-content: center;
    padding-bottom: 25vh;
   }
  .service-head-line{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15vh;
  }

  .service-head-line h1{
    font-size: 70px;
  }

  .service-head-line h3{
    font-weight: 400;
    font-size: 30px;
  }

  .service-items{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 90px 10px;
    padding-top: 30px;
    padding: 30px 20px 20px 20px;
  }

  .service-box h2{
    font-size: 30px;
    font-weight: 600;
  }

  .About-us{
    background-color: rgb(24, 24, 24);
    justify-content: center;
    color: white;
    margin-top: 40px;
  }
  .about-us-items {
    padding-top: 50px;
  } 

  .about-us-items h1{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    padding: 30px;
  }

  .about-us-box1{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  
.box1-content1 { flex-grow: 4; }
.shrink9 { flex-shrink: 9; }

.box1-content1{
    width: 50vw;
    text-align: center;
   
}
.box1-content1 h2{
  font-size: 30px;
  font-weight: 600;
  color: rgb(236, 141, 141);
  padding: 30px;
}

.box1-content2 img{
  max-width: 100%;
  border-radius: 20px;
  padding: 10px;
}

  .about-us-box2{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 30px;
    background-color: rgb(247, 247, 247);
    color: black;
  }
  
.box2-content1 { flex-grow: 4; }
.shrink9 { flex-shrink: 9; }

.box2-content1{
    width: 50vw;
    text-align: center;
   
}
.box2-content1 h2{
  font-size: 30px;
  font-weight: 600;
  color: rgb(236, 141, 141);
  padding: 30px;
}

.box2-content2 img{
  max-width: 100%;
  border-radius: 20px;
  padding: 10px;
}

  .about-us-box3{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 30px;

  }
  
.box3-content1 { flex-grow: 4; }
.shrink9 { flex-shrink: 9; }

.box3-content1{
    width: 50vw;
    text-align: center;
   
}
.box3-content1 h2{
  font-size: 30px;
  font-weight: 600;
  color: rgb(236, 141, 141);
  padding: 30px;
}

.box3-content2 img{
  max-width: 100%;
  border-radius: 20px;
  padding: 10px;
}
  .about-us-box4{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 30px;
    background-color: rgb(247, 247, 247);
    color: black;
  }
  
  .box4-content1 { flex-grow: 4; }
.shrink9 { flex-shrink: 9; }

.box4-content1{
    width: 50vw;
    text-align: center;
   
}
.box4-content1 h2{
  font-size: 30px;
  font-weight: 600;
  color: rgb(236, 141, 141);
  padding: 30px;
}

.box4-content2 img{
  max-width: 100%;
  border-radius: 20px;
  padding: 10px;
}


/* testemonials */

.partners{
  display: block;
  flex-direction: column;
  padding: 80px;
}

.partners-h1{
  text-align: center;
}

.partners-h1 h1{
  font-weight: 700;
    font-size: 3rem;
}

.partners-items{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 90px;
}

footer {
  padding: 30px 0;
  background-color: black;
}
footer h6 {
  font-weight: bold;
  margin-bottom: 15px;
}
footer p {
  margin-bottom: 10px;
}
footer a {
  color: #000;
  text-decoration: none;
}

